#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Horizontal scrolling prevention */
body, html {
  width: 100%;
  overflow-x: hidden;
}

/* iOS font-size zoom prevention on inputs */
@media (max-width: 480px) {
  input, textarea, select {
    font-size: 16px;
  }
}

/* Responsive SVG */
svg {
  max-width: 100%;
}
